@import url(./reset.css);

.header {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

#header-left {
    width: 146px;
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
}

#header-center {
    width: 404px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#input {
    width: 348px;
    height: 40px;
    border: 1px solid #CCCCCC;
}

#img {
    width: 57px;
    height: 40px;
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
}

#search {
    padding: 7px 14px;
}

#header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
} 

.main {
    background: #F9F9F9;
}

#watching-video {
    height: 746;
    padding: 20px 0 0 20px;
}

#principal-video {
    width: 900px;
    height: 500px;
}

h1 {
    font-weight: 700;
    font-size: 1.25rem;
    padding-top: 10px;
}

#video-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    gap: 30px;
}

#channel-infos {
    display: flex;
    justify-content: space-around;
}

#dio {
    font-weight: 700;
    font-size: 0.875rem;
}

#sub-numbers {
    font-size: 0.875rem;
    font-weight: 700;
    color: #515151;
}

#texts-channel-infos {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
}

#button {
    width: 159px;
    height: 40px;
    border: 1px solid #CC0000;
    background: #CC0000;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
}

.buttons-video-actions {
    display: flex;
    align-items: center;
}

.p-channel-infos {
    font-size: 0.875rem;
    font-weight: 700;
    padding-left: 10px;
}

h2 {
    font-size: 0.875rem;
    font-weight: 700;
    padding-top: 15px;
}

.description {
    font-size: 0.875rem;
    font-weight: 400;
    color: #515151;
    padding-top: 15px;
    width: 510px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: -717px;
    left: 930px;
    width: 360px;
}

.div-sidebar {
    display: flex;
    flex-direction: row;
}

.title-video {
    font-weight: 700;
    font-size: 0.875rem;
}

.p-video {
    font-size: 0.75rem;
    font-weight: 400;
    color: #515151;
}

.text-description {
    padding-left: 10px;
}

.channel-name {
    padding: 7px 0;
}

.thumb {
    padding: 3px;
}
